doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Interactive pricing component
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
      //- Fonts
      link(rel="preconnect", href="https://fonts.gstatic.com")
      //- Manrope
      link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap",rel="stylesheet")
   body 
      header.main-header 
         h1.title Simple, traffic-based pricing 
         p.main-header__text 
          |Sign-up for our 30-day trial. 
          span.main-header__payment No credit card required.
      main.main 
         form.form(action="#")
            .form__top
               h2.form__title#page-views 100k Pageviews
               input.form__range#price-range(
                     type="range", 
                     name="price", 
                     min="0", 
                     max="4"
                  )
               label.form__price(for="price-input")
                  span.form__number#price $16.00 
                  span.form__period#period / month 
            .form__body
               label.form__screen-reader-only(for="duration") Monthly Billing or Yearly Billing ?
               label.form__billing(for="billing", aria-hidden="true") Monthly Billing
               input.form__checkbox#billing(name="duration", type="checkbox")
               label.form__billing.form__billing--year(for="billing", aria-hidden="true") Yearly Billing
            .form__footer
               ul.benefits
                  li.benefits__item Unlimited websites
                  li.benefits__item 100% data ownership
                  li.benefits__item Email reports
               button.form__submit(type="submit") Start my trial
      script(src="js/scripts-min.js") 